# Update Mutual Fund Daily NAV

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
import mysql.connector as fundDB
import datetime

### Reading Invested amoung and unit purchased from csv file(one time)

In [2]:
mf = pd.read_csv('myFunds.csv')

### Webscraping daily NAV from valueresearchonline.com

In [3]:
latestNAV = []
for link in mf['Fund Link']:
    source = requests.get(link).content
    soup = bs(source,'lxml')
    fundRecList = soup.find_all('small')
    for item in list(fundRecList):
        if 'growth:' in str(item).lower():
            latestNAV.append(float(item.text[10:]))

### Building the mutual fund dataframe

In [4]:
mf['Latest NAV'] = latestNAV
mf['Value of Investment'] = (mf['Unit Purchased'] * mf['Latest NAV']).round(2)
mf['Absolute Return'] = (mf['Value of Investment'] - mf['Amount Invested']).round(2)
mf['Average NAV'] = (mf['Amount Invested']/mf['Unit Purchased']).round(2)
mf['Fund ID'] = [link.split('/')[-2] for link in mf['Fund Link']]
mf['Unit Purchased'] = mf['Unit Purchased'].round(3)

### Only keeping the columns that are desired

In [5]:
latestPortNAV = ((mf['Unit Purchased']*mf['Latest NAV']).sum()/mf['Unit Purchased'].sum()).round(4)
averagePortNAV = (mf['Amount Invested'].sum()/mf['Unit Purchased'].sum()).round(2)

In [6]:
mf = mf[['Fund ID','Fund Name','Unit Purchased','Latest NAV', 'Amount Invested','Value of Investment','Absolute Return','Average NAV']]

### Saving the updated Funds info in CSV file

In [7]:
mf.to_csv('My_Investment_Analysis.csv')

### Updating the Daily NAV into Database Mutual_Fund.Daily_NAV

In [8]:
fundConnect = fundDB.connect(user = 'root', password = 'sf-3300a', database = 'Mutual_Fund')
getFund = fundConnect.cursor(buffered=True, dictionary=True)

In [9]:
insertString = "insert into Daily_NAV (FundID, NAVDate, NAV) values(\"{0}\",\"{1}\",{2})"
for fid,nav in zip(mf['Fund ID'],mf['Latest NAV']):
    query = insertString.format(fid,datetime.datetime.today().strftime('%Y-%m-%d'),nav)
    try:
        getFund.execute(query)
    except:
        print('Error has happened')

In [10]:
fundConnect.commit()
getFund.close()

True

### Adding some more attributes to the porfolio dataframe

In [11]:
mf.loc[10] = ['','Total',mf['Unit Purchased'].sum(),latestPortNAV,mf['Amount Invested'].sum(),mf['Value of Investment'].sum(),mf['Absolute Return'].sum(),averagePortNAV]

In [12]:
mf

,Fund ID,Fund Name,Unit Purchased,Latest NAV,Amount Invested,Value of Investment,Absolute Return,Average NAV
0,2333,L&T Midcap Fund - Growth,831.577,106.0900,105000,88222.00,-16778.00,126.27
1,6762,Mirae Asset Fund Large Cap Fund Regular Plan...,3540.557,40.2840,170000,142627.80,-27372.20,48.02
2,11463,Nippon India SMALL CAP FUND - GROWTH PLAN GR...,2813.210,29.2972,105000,82419.18,-22580.82,37.32
3,17439,Kotak Global Emerging Market Fund Direct - Growth,338.935,16.1360,6000,5469.06,-530.94,17.70
4,16230,SBI Magnum Income Direct Plan - Growth,477.413,53.8749,25000,25720.58,720.58,52.37
5,40665,Edelweiss US Technology Equity Fund of Fund Di...,4520.693,11.6599,50000,52710.83,2710.83,11.06
6,16859,Nippon India Index Fund Sensex plan Direct - G...,1555.839,15.7215,25000,24460.12,-539.88,16.07
7,19701,Parag Parikh Long term EquityFund Direct - Growth,2066.688,25.1826,50000,52044.58,2044.58,24.19
8,15690,Axis Midcap Direct Plan - Growth,1331.203,37.9600,50000,50532.47,532.47,37.56
9,15787,SBI Samll Cap Fund Direct - Growth,1035.047,46.2132,50000,47832.83,-2167.17,48.31
10,,Total,18511.162,30.9024,636000,572039.45,-63960.55,34.36